# Ignore bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
env/
venv/
ENV/
venv.bak/

# Ignore distribution / packaging files
*.egg-info/
*.egg
dist/
build/
wheels/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system specific files
.DS_Store
Thumbs.db

# Ignore database
.json
